# Groupby for bar charts

## Load data

In [1]:
path = '../../data/EIA/fuel_type_data_california.parquet'

In [2]:
import pandas as pd
df = pd.read_parquet(path)

df

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2025-04-22 20:00:00-07:00,CAL,California,BAT,Battery storage,179,megawatthours
1,2025-04-22 20:00:00-07:00,CAL,California,COL,Coal,216,megawatthours
...,...,...,...,...,...,...,...
452546,2018-12-31 17:00:00-07:00,CAL,California,WAT,Hydro,2880,megawatthours
452547,2018-12-31 17:00:00-07:00,CAL,California,WND,Wind,2628,megawatthours

In [3]:
df = df.set_index('period').sort_index()

In [4]:
df[['type-name', 'value']]

                                 type-name  value
period
2018-12-31 17:00:00-07:00             Wind   2628
2018-12-31 17:00:00-07:00             Coal   1234
...                                    ...    ...
2025-04-22 20:00:00-07:00            Other   3141
2025-04-22 20:00:00-07:00  Battery storage    179

[452548 rows x 2 columns]

In [5]:
df = df.loc['2024', ['type-name', 'value']]
df

                          type-name  value
period
2024-01-01 00:00:00-07:00      Wind    243
2024-01-01 00:00:00-07:00     Hydro   3541
...                             ...    ...
2024-12-31 23:00:00-07:00     Hydro   4125
2024-12-31 23:00:00-07:00      Wind    476

[70224 rows x 2 columns]

In [6]:
df.columns = ['technology', 'energy']
df

                          technology  energy
period
2024-01-01 00:00:00-07:00       Wind     243
2024-01-01 00:00:00-07:00      Hydro    3541
...                              ...     ...
2024-12-31 23:00:00-07:00      Hydro    4125
2024-12-31 23:00:00-07:00       Wind     476

[70224 rows x 2 columns]

## Calculate temporal properties

In [7]:
df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['hour'] = df.index.hour
df['weekday'] = df.index.weekday
df['weekend'] = df.index.dayofweek > 4

In [8]:
df

,technology,energy,year,month,day,hour,weekday,weekend
period,,,,,,,,
2024-01-01 00:00:00-07:00,Wind,243,2024,1,1,0,0,False
2024-01-01 00:00:00-07:00,Hydro,3541,2024,1,1,0,0,False
...,...,...,...,...,...,...,...,...
2024-12-31 23:00:00-07:00,Hydro,4125,2024,12,31,23,1,False
2024-12-31 23:00:00-07:00,Wind,476,2024,12,31,23,1,False

## Steps

### Aggregate data with groupby

### Reset index to transform result into a data frame

### Bar chart

## Different parameters to visualize the bar chart

### Aggregate by 3 categorical columns

### Plot with facets

#### Columns

#### Rows

### Aggregate by 4 categorical columns